# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore Streamlit secrets
streamlit/secrets.toml

# Ignore Firebase Admin JSON key
geg-pay-sys-firebase-adminsdk-fbsvc-949f2a165b.json

# Ignore virtual environments
venv/
.env/
.envrc

# Ignore generated PDF exports
exports/
